/*div {
	border: 1px solid red;
}*/


html, body { 
	height: 100%; margin: 0; padding: 0;
}

#mapArea {
	height: 80%;
}

#map { 
	height: 100%;
	margin-left: 20%;
}

.floatLeft {
	float: left;
}

#highlight {
	color: red;
}

td {	
	font-size: .8em;
}

#iw_container {
	width: 180px;
}