

.sideBarElems, button {
	cursor: pointer;
}

.sideBarElems {
	margin: 0 0 10px 0;
}

.sideBarElems:active {
	color: red;
}

#searchForm {
	font-size: 1em;
	padding-bottom: 15px;
}

input {
	display: block;
}

#highlight {
	color: red;
}


#iw_container {
	width: 180px;
}

.infoWindowImg {
	height: 70px;
	width: 180px;
}

@media (min-width: 900px) {
	hr {
		margin-top: -2%;
	}
	input {
	display: initial;
	}
}



